
@{
    ViewBag.Title = "Callback page from GitHub Oauth2 service with access code";
}

<h2>Callback page from GitHub Oauth2 service with access code</h2>

<br />
Code: <strong>@ViewBag.Code</strong>
<br />
Error: <strong>@ViewBag.Error</strong>
<br />
<br />

    @using (Html.BeginForm("SecureData", "DemoOath2CodeFlowMvc"))
    {
        <input type="hidden" id="code" name="code" value="@ViewBag.Code" />
        <input type="submit" value="Get secure data now" />
    }
